@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.container {
    display: inline-flex;
    column-gap: 2rem;
    padding: 3rem;
}

.img {
    height: 100px;
    width: 100px;
    border-radius: 10px;
}

.txt {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    color: white;
    font-size: 2.5rem;
}